footer {
  background-color: rgba(0, 0, 0, 0.07);
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  margin-left: 0;
}
footer p {
  color: #222;
}
.footer-link {
  box-sizing: border-box;
  outline: none !important;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border: 0 none;
  padding: 0;
  line-height: 34px;
  position: relative;
  display: inline-block;
  color: #222;
  font-size: 13px;
}

.footer-link:hover {
  color: #dc3545;
}
